/* NAVBAR */
.nav-custom{
    backdrop-filter: blur(15px);
    box-shadow: 1px 1px 8px 1px var(--ceruleolight);
}

.nav-logo{
    color: var(--bluewater);
    font-size: x-large;
    font-weight: bolder;
}

.nav-title{
    color: var(--ceruleo);
}