/* NAVBAR */
.nav-custom{
    backdrop-filter: blur(15px);
    box-shadow: 1px 1px 8px 1px var(--ceruleolight);
}

.nav-logo{
    color: var(--bluewater);
    font-size: x-large;
    font-weight: bolder;
}

.my-logo{
    height: 55px;
}

.my-logo-nav{
    height: 60px;
}

.my-logo-nav:hover{
    transform: scale(1.1);
}

.profile-icon{
    height: 30px;
}

.language-icon{
    height: 20px;
}



.nav-title{
    color: var(--bluewater);
    font-size: 20px;
    font-family: "Dekko", cursive;

}

.lang-custom-menu{
    min-width: auto;
    backdrop-filter: blur(15px);
    background-color: rgba(245, 245, 245, 0.562);
    border: none;
    box-shadow: 1px 1px 8px 1px var(--ceruleolight);
    
}

