@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kalam:wght@300;400;700&display=swap');

:root{
    --orange: #ffc857;
    --orangelight: #ffbf69;
    --yellow: #f3fc46;
    --yellowlight: #ffef9f;
    --cream: #faf3dd;
    --bluedark: #012A4A;
    --blue: #013A63;
    --cobalt: #01497C;
    --cobaltlight: #014F86;
    --bluewater: #2C7DA0;
    --bluewaterlight: #61A5C2;
    --ceruleo: #89C2D9;
    --ceruleolight: #A9D6E5;
}

*{
    /* font-family: "Kalam", cursive; */
    font-family: "Comic Neue", cursive;
    color: var(--ceruleo);
}

body{
    padding-top: 3%;
    background-image: url(../../public/media/bkg_splashes_white2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.my-container-wave{
    height: 100px;
}

.my-wave{
    position: absolute;
    left: 0;
    top: -300px;
}

.my-container-wave-upside{
    height: 100px;
}

.my-wave-upside{
    position: absolute;
    left: 0;
    top: 100px;
}

.my-surfers-cnt{
    background-image: url(../../public/media/footer_bkg.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}