:root{
    --orange: #ffc857;
    --orangelight: #ffbf69;
    --yellow: #f3fc46;
    --yellowlight: #ffef9f;
    --cream: #faf3dd;
    --bluedark: #012A4A;
    --blue: #013A63;
    --cobalt: #01497C;
    --cobaltlight: #014F86;
    --bluewater: #2C7DA0;
    --bluewaterlight: #61A5C2;
    --ceruleo: #89C2D9;
    --ceruleolight: #A9D6E5;
}

*{
    font-family: "Roboto Flex", sans-serif;   
}

body{
    padding-top: 10%;
}